.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

.pageContainer {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  /* Ensure smooth rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  .pageContainer {
    padding: 1rem;
    display: block;
  }
}

@media (max-width: 768px) {
  .pageContainer {
    padding: 0.5rem;
    font-size: 14px;
    display: block;
  }
}